<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>forget</title>
</head>
<body>
 <h1>Forget</h1>
     <form  method="post" >
         <label>user</label><br>
         <input type="text" name="user" ><br>
         <label>userquestion</label><br>
         <input type="radio" name="userquestion" value="Whats your favorite food?">Whats your favorite food?<br>
         <input type="radio" name="userquestion" value="Whats the name of your first pet?">Whats the name of your first pet?<br>
         <input type="radio" name="userquestion" value="Whats the name of your primary school?">Whats the name of your primary school?<br>
         <label>useranswer</label><br>
         <input type="text" name="useranswer"><br>
         <input  type="submit" name="login">{{msg}}
     </form>
</body>
</html>